<div class="divText">
	<h1>About Evolution</h1>

	<p>
		I always wondered why something like Evolution didn't exist already. When I was writing, I would write on paper first and then transfer my work to Word documents. If I wanted to edit a piece after saving an electronic version, I'd either overwrite the old version or make three, four, five new copies. Either way, I never had a great way to keep track of changes, and revising was always difficult. There was no workflow that lent itself to tinkering.
	</p>

	<p>
		Github inspired this project. I wanted writers to have a tool that works the same way for writers that Github does for developers - a way to work on projects in a way that allows them to track revisions and move them to finished products. Unlike software, making art isn't a linear process, but Evolution provides writers with the ability to look back at different versions side by side and compare their merits. 
	</p>

	<p>
		I chose the name Evolution for this project because I hope it can see a project through the entire process - from an idea, to a draft, through revision and to publishing. Use it or don't, but I hope you find it worthwhile.
	</p>

	<p>
		May all your writing endeavors be blessed.
	</p>
</div>