<div class="center jumbotron">
	<h1>Welcome to Evolution</h1>
	<h3 class="subTitle">
		Version control for writers
	</h3>
</div>

<div class="divHomeText">
	<p class="summary">
		Evolution is a free project-management tool provided for the benefit of writers. 
	</p>
	<p>
		With Evolution, you can do the following:
	</p>
	<ul>
		<li>Organize all your writing projects in one place</li>
		<li>Set statuses for each of your projects in progress, from "Idea" to "Published"</li>
		<li>Store and view multiple revisions of a piece</li>
		<li>Compare two drafts of a project side by side</li>
		<li>Track your submissions for publication</li> 
	</ul>
</div>
