@import "bootstrap-sprockets";
@import "bootstrap";

/* universal styles */
body
{
	padding-top: 60px;
}

/* header */
.header 
{
	background-color: #0A1A69;
}

/* footer */
footer 
{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

footer small
{
	float: left;
}

footer ul 
{
	float: right;
	list-style: none;
}

footer ul li
{
	float: left;
	margin-left: 15px;
}

/* text */
.divText 
{
	width: 70%;
}

/* signup */
.signupCtl
{
	margin-top: 30px;
}

/* home */
.subTitle
{
	color: #808080;
}

.center
{
	text-align: center;
}

.center h1
{
	margin-bottom: 10px;
}

.divHomeText
{
	width: 40%;
	margin-top: 40px;
	margin-left: 30%;
}

.summary
{
	font-size: 24px;
}
