@import "bootstrap-sprockets";
@import "bootstrap";

/* universal styles */
body
{
	padding-top: 60px;
}

/* mixins */
@mixin boxSizing 
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* forms */
input, textarea, select, .uneditable-input
{
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include boxSizing;
}

#errorExplanation 
{
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors
{
	@extend .has-error;
	.form-control {
		color: $state-danger-text;
	}
}

/* header */
.header 
{
	background-color: #0A1A69;
}

/* footer */
footer 
{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

footer small
{
	float: left;
}

footer ul 
{
	float: right;
	list-style: none;
}

footer ul li
{
	float: left;
	margin-left: 15px;
}

/* text */
.divText 
{
	width: 70%;
}

/* signup */
.signupCtl
{
	margin-top: 30px;
}

/* home */
.subTitle
{
	color: #808080;
}

.center
{
	text-align: center;
}

.center h1
{
	margin-bottom: 10px;
}

.divHome
{
	margin-top: 10px;
	margin-bottom: 40px;
}

.summary
{
	font-size: 24px;
}

.signupMessage
{
	margin-top: 16px;
}

/* sign up */
.divSignupForm
{
	margin-top: 30px;
}